/* font */
/* mc reset */
body * {
  font-size: 15px; }

.dijitPopup {
  margin-top: 0 !important; }

p {
  margin: 10px 0;
  padding: 0; }

table {
  border-collapse: collapse; }

img,
a img {
  border: 0;
  outline: none;
  height: auto !important;
  max-width: 100% !important;
  box-sizing: border-box;
  min-height: 10px !important; }

body,
#bodyTable,
#bodyCell {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

.tpl-content {
  padding: 0; }

.mcnPreviewText {
  display: none !important; }

#outlook a {
  padding: 0; }

img {
  -ms-interpolation-mode: bicubic; }

table {
  mso-table-lspace: 0;
  mso-table-rspace: 0; }

p,
a,
li,
td,
blockquote {
  mso-line-height-rule: exactly; }

a[href^=tel],
a[href^=sms] {
  color: inherit;
  cursor: default;
  text-decoration: none; }

p,
a,
li,
td,
body,
table,
blockquote {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important; }

.np .tpl-content {
  padding: 0; }

#bodyCell {
  padding: 10px; }

.spacer {
  height: 40px; }

.templateContainer {
  max-width: 600px !important;
  line-height: 1.4;
  color: #404041;
  font-family: 'Roboto', 'SF Pro Text', arial, sans-serif !important; }

.mcnTextContent {
  word-break: break-word;
  padding-bottom: 0 !important; }
  .mcnTextContent img {
    height: auto !important;
    max-width: 100% !important; }

.mcnDividerBlock {
  table-layout: fixed !important; }

body,
#bodyTable {
  background-color: #f0f0f0; }

#bodyCell {
  border-top: 0; }

.templateContainer {
  border: 0; }

#d {
  background-color: #f0f0f0;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 0;
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }

#d .mcnTextContent,
#d .mcnTextContent p {
  color: #404041;
  font-family: 'Roboto', 'SF Pro Text', arial, sans-serif !important;
  font-size: 15px;
  line-height: 150%;
  text-align: left; }

#templateHeader {
  background-color: #ffffff;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 0;
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }

#templateBody {
  background-color: #f0f0f0;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 0;
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }

#templateBody .mcnTextContent,
#templateBody .mcnTextContent p {
  color: #404041;
  font-family: 'Roboto', 'SF Pro Text', arial, sans-serif !important;
  font-size: 15px;
  line-height: 150%;
  text-align: left; }

#templateBody .mcnTextContent a,
#templateBody .mcnTextContent p a {
  color: #006dea;
  font-weight: normal;
  text-decoration: underline; }

#templateFooter {
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 0;
  border-bottom: 0;
  padding-bottom: 10px; }
  #templateFooter .mcnTextContent,
  #templateFooter .mcnTextContent p {
    color: #404041;
    font-family: 'Roboto', 'SF Pro Text', arial, sans-serif !important;
    font-size: 12px;
    line-height: 150%;
    text-align: center; }
  #templateFooter .mcnTextContent a,
  #templateFooter .mcnTextContent p a {
    color: #404041;
    font-weight: normal;
    text-decoration: underline; }

.templateHeader {
  padding-top: 0 !important; }

.mcnTextBlockInner {
  padding-top: 0 !important;
  border-top: 20px solid #f0f0f0 !important;
  background: #f0f0f0; }

a,
a:hover {
  color: #006dea !important;
  text-decoration: none !important; }

.x_mcnTextBlock {
  height: auto !important; }

.mcnTextContent {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.btn,
a.btn,
a.btn:hover {
  min-width: 128px;
  display: inline-block;
  height: 40px;
  border-radius: 4px;
  background-color: #0681ff;
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  color: #fafafb !important;
  text-decoration: none !important; }
  .btn.sm,
  a.btn.sm,
  a.btn:hover.sm {
    width: 80px; }

.main-header {
  overflow: hidden; }
  .main-header .col {
    float: right; }
  .main-header .col:first-child {
    float: left; }
  .main-header img {
    width: 135px; }

.date {
  color: #404041;
  font-size: 15px; }

.card {
  min-height: 200px;
  border-radius: 12px;
  background-color: #ffffff; }

.card-featured {
  padding: 40px; }
  .card-featured.nopad-hz {
    padding-right: 0 !important;
    padding-left: 0 !important; }
    .card-featured.nopad-hz .main-header {
      margin-left: 40px;
      margin-right: 40px; }
    .card-featured.nopad-hz .featured-img,
    .card-featured.nopad-hz .featured-text {
      margin-left: 40px;
      margin-right: 40px; }
    .card-featured.nopad-hz .card-con {
      margin-left: 40px;
      margin-right: 40px; }
      .card-featured.nopad-hz .card-con.wider {
        margin-left: 30px;
        margin-right: 30px; }

.card.pad-b {
  padding-bottom: 20px; }

.featured-img {
  margin-top: 20px; }

.featured-img img {
  max-width: 100%;
  width: auto !important;
  display: block; }

.featured-text {
  margin-top: 40px;
  font-size: 15px;
  line-height: 1.4;
  color: #404041 !important;
  font-family: 'Roboto', 'SF Pro Text', arial, sans-serif !important; }

.card-with-banner {
  padding: 0; }

.card-with-banner.bottom-padding {
  padding-bottom: 20px; }

.card-banner-header {
  position: relative;
  overflow: hidden; }
  .card-banner-header.pad-b {
    padding-bottom: 20px; }
  .card-banner-header .card-banner-bg {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0; }
  .card-banner-header .card-banner-bg.pad-top {
    padding-top: 20px; }
  .card-banner-header .card-banner-bg.slack-wrap {
    display: block;
    width: 230px;
    margin: 0 auto; }
  .card-banner-header .card-banner-bg.pad-top img {
    max-width: 230px;
    margin: 0 auto; }
  .card-banner-header .card-banner-bg img {
    display: block;
    border-radius: 12px 12px 0 0; }

.slack-title {
  color: #404041;
  font-size: 20px;
  margin-bottom: 20px; }

.card-banner-bg .bg {
  width: auto !important;
  min-height: 100%;
  min-width: 100%; }

.card-with-banner .banner-text {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  position: relative;
  padding-top: 5px;
  z-index: 10; }

.card-with-banner .banner-content {
  padding-top: 50px;
  position: relative; }

.card-banner-bg .banner-content .banner-ico {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 5;
  max-height: 48px; }

/* card-con */
.card-con a img {
  max-width: 520px !important;
  height: auto !important; }

.card-con img {
  max-width: 520px !important;
  height: auto !important; }

.card-con .user-img {
  margin-top: 40px; }

.card-con.align-center {
  text-align: center; }

.card-con.nopad-b {
  padding-bottom: 0; }

.card-con.nopad-t {
  padding-top: 0; }

.card-con.pad-t-sm {
  padding-top: 20px !important; }

.card-con.heading {
  font-size: 22px;
  line-height: 1.4; }
  .card-con.heading strong {
    font-size: 22px; }

.card-with-banner .card-con {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 15px;
  line-height: 1.47;
  color: #404041; }
  .card-with-banner .card-con.wider {
    padding-left: 30px;
    padding-right: 30px; }

.card-with-banner .card-con.nopad-b {
  padding-bottom: 0; }

.card-with-banner .card-con.nopad-t {
  padding-top: 0; }

.card-with-banner .card-con.alt {
  padding-left: 18px;
  padding-right: 18px; }

.card-con .card-img {
  margin-top: 40px; }

.card .action {
  margin-top: 40px;
  text-align: center; }
  .card .action.btn-row {
    margin-top: 5px; }

.card .action .btn {
  display: inline-block;
  white-space: nowrap; }

.card-with-banner .action {
  margin-top: 40px;
  text-align: center; }
  .card-with-banner .action.btn-row {
    margin-top: 10px; }

.card-with-banner .action .btn {
  display: inline-block;
  white-space: nowrap; }

/* mobile layout */
@media only screen and (max-width: 480px) {
  .card-featured {
    padding: 40px 20px; }
  .card-with-banner .card-con {
    padding-left: 20px;
    padding-right: 20px; } }

.card-con.padding-b {
  padding-bottom: 20px; }

.card-con .text-block {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafb;
  border: solid 1px #ebebeb;
  padding: 20px;
  line-height: 1.4;
  margin-top: 20px; }

.card-con .design-tip {
  background-color: #fff;
  border: none;
  line-height: 1.6;
  margin-top: 40px; }

.card-con .dt-banner {
  padding-right: 20px;
  padding-bottom: 20px;
  z-index: 10;
  position: relative; }

.card-con .dt-tip-text {
  display: block;
  margin-left: 0;
  min-height: 150px;
  color: #404041;
  line-height: 1.6;
  padding-left: 0;
  word-break: break-all; }

.member-thumb {
  display: flex;
  justify-content: center; }

.member-thumb .thumb-wrap {
  border: 5px solid #d8d8d8;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  box-sizing: content-box; }

.member-thumb .thumb-wrap img {
  width: 90px;
  height: 90px !important;
  border-radius: 50%;
  display: block; }

.member-thumb-caption {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  color: #404041;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 20px; }

table .tpl-repeatblock {
  outline: none; }

.member-lead-con {
  font-size: 15px;
  line-height: 1.4;
  color: #404041; }

.date-value {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #404041;
  padding-bottom: 20px; }

.grid-challenges {
  overflow: hidden; }

.grid-challenges .challenge-tile {
  width: 99%;
  display: inline-block;
  min-height: 162px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafb;
  border: solid 1px #ebebeb;
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  border-left: 2px solid #0681ff;
  margin-top: 20px;
  box-sizing: content-box; }

.grid-challenges .challenge-tile .inner {
  margin: 0 20px; }

.repeatable-content-group {
  padding-bottom: 40px; }

/* wider layout styles */
@media only screen and (min-width: 481px) {
  .grid-challenges .challenge-tile {
    max-width: 46% !important;
    display: inline-block;
    width: 46% !important;
    margin-left: 0;
    margin-right: 0; }
  .grid-challenges .challenge-tile {
    margin-left: 1.5% !important;
    margin-right: 1.5% !important; } }

.grid-challenges .challenge-name {
  margin-top: 10px;
  height: 66px;
  overflow: hidden; }

.grid-challenges .challenge-prize {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.47;
  text-align: left;
  color: #404041; }

.grid-challenges .promo-text {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.47;
  text-align: left;
  color: #f22f24;
  margin-top: 10px; }

.queno {
  display: inline-block;
  font-size: 30px;
  font-weight: 300;
  color: #0681ff;
  height: 40px;
  vertical-align: top;
  float: left; }

.dt-tip-thumb {
  display: inline-block;
  height: 150px;
  vertical-align: top;
  float: left; }

.queno .tpl-content,
.queno span {
  font-size: 30px !important;
  font-weight: 300; }

.que {
  display: block;
  margin-left: 50px;
  color: #404041; }

.social-container {
  display: block; }

.social {
  width: 320px;
  display: block;
  margin: 0 auto;
  text-align: center; }

.social .social-link {
  margin: 0 10px;
  width: 32px;
  height: 32px;
  text-align: center; }

.social .social-link img {
  display: inline-block; }

.dt-banner {
  width: 150px;
  height: 150px;
  overflow: hidden; }

.dt-banner img {
  max-width: 150px;
  max-height: 150px; }

.shining-start-post {
  padding-bottom: 40px; }

.view-in-browser {
  text-align: right;
  margin-bottom: 20px; }
  .view-in-browser .newletter-date {
    float: left;
    font-family: 'Roboto', 'SF Pro Text', arial, sans-serif !important; }
  .view-in-browser a {
    font-family: 'Roboto', 'SF Pro Text', arial, sans-serif !important;
    color: #404041 !important;
    font-size: 13px !important; }

/* side by side wrap */
.sbs-wrap {
  overflow: hidden; }
  .sbs-wrap .sbs-col {
    display: inline-block;
    width: 48%;
    vertical-align: top; }
  .sbs-wrap .sbs-col.alt {
    width: 50%; }
  .sbs-wrap .sbs-col h5 {
    font-weight: bold;
    font-size: 15px;
    font-family: 'Roboto', 'SF Pro Text', arial, sans-serif !important;
    color: #404041 !important;
    margin: 0 0 20px 2px; }
  .sbs-wrap .sbs-col .sbs-row {
    line-height: 28px;
    margin-left: 2px; }

.challegne-card-row .challegne-card {
  min-height: 233px; }
  .challegne-card-row .challegne-card .img-wrap {
    display: block;
    text-align: center; }
    .challegne-card-row .challegne-card .img-wrap img {
      display: inline-block;
      max-width: 172px !important;
      min-height: 215px;
      width: 100% !important; }

.side-by-side-table {
  float: none;
  max-width: 100%;
  min-width: 100%; }

/*# sourceMappingURL=map/Generic-newbie-newsletter.css.map */
