/* font */
/* mc reset */
.dijitPopup {
  margin-top: 0 !important; }

p {
  margin: 10px 0;
  padding: 0; }

table {
  border-collapse: collapse; }

img,
a img {
  border: 0;
  outline: none;
  height: auto !important;
  max-width: 100% !important; }

body,
#bodyTable,
#bodyCell {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

.mcnPreviewText {
  display: none !important; }

#outlook a {
  padding: 0; }

img {
  -ms-interpolation-mode: bicubic; }

table {
  mso-table-lspace: 0;
  mso-table-rspace: 0; }

p,
a,
li,
td,
blockquote {
  mso-line-height-rule: exactly; }

a[href^=tel],
a[href^=sms] {
  color: inherit;
  cursor: default;
  text-decoration: none; }

p,
a,
li,
td,
body,
table,
blockquote {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important; }

.np .tpl-content {
  padding: 0; }

#bodyCell {
  padding: 10px; }

.templateContainer {
  max-width: 600px !important;
  line-height: 1.4;
  color: #404041;
  font-family: 'Roboto', 'SF Pro Text', arial, sans-serif !important; }

a.mcnButton {
  display: block; }

.mcnImage,
.mcnRetinaImage {
  vertical-align: bottom; }

.mcnTextContent {
  word-break: break-word; }

.mcnTextContent img {
  height: auto !important;
  max-width: 100% !important;
  width: 100%; }

.mcnDividerBlock {
  table-layout: fixed !important; }

body,
#bodyTable {
  background-color: #f0f0f0; }

#bodyCell {
  border-top: 0; }

.templateContainer {
  border: 0; }

#d {
  background-color: #f0f0f0;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 0;
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }

#d .mcnTextContent,
#d .mcnTextContent p {
  color: #404041;
  font-family: 'Roboto', 'SF Pro Text', arial, sans-serif !important;
  font-size: 15px;
  line-height: 150%;
  text-align: left; }

#templateHeader {
  background-color: #ffffff;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 0;
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }

#templateBody {
  background-color: #f0f0f0;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 0;
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }

#templateBody .mcnTextContent,
#templateBody .mcnTextContent p {
  color: #404041;
  font-family: 'Roboto', 'SF Pro Text', arial, sans-serif !important;
  font-size: 15px;
  line-height: 150%;
  text-align: left; }

#templateBody .mcnTextContent a,
#templateBody .mcnTextContent p a {
  color: #006dea;
  font-weight: normal;
  text-decoration: underline; }

#templateFooter {
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 0;
  border-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px; }

#templateFooter .mcnTextContent,
#templateFooter .mcnTextContent p {
  color: #404041;
  font-family: 'Roboto', 'SF Pro Text', arial, sans-serif !important;
  font-size: 12px;
  line-height: 150%;
  text-align: center; }

#templateFooter .mcnTextContent a,
#templateFooter .mcnTextContent p a {
  color: #404041;
  font-weight: normal;
  text-decoration: underline; }

* {
  font-size: 15px;
  box-sizing: border-box; }

.templateHeader {
  padding-top: 0 !important; }

.mcnTextBlockInner {
  padding-top: 0 !important;
  border-top: 20px solid #f0f0f0 !important;
  background: #f0f0f0; }

a,
a:hover {
  color: #006dea !important;
  text-decoration: none !important; }

.x_mcnTextBlock {
  height: auto !important; }

.mcnTextContent {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.btn,
a.btn,
a.btn:hover {
  min-width: 128px;
  display: inline-block;
  height: 40px;
  border-radius: 4px;
  background-color: #0681ff;
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  color: #fafafb !important;
  text-decoration: none !important; }

.main-header {
  overflow: hidden; }

.main-header .col {
  float: right; }

.main-header .col:first-child {
  float: left; }

.main-header img {
  width: 135px; }

.date {
  color: #404041;
  font-size: 15px; }

.card {
  min-height: 200px;
  border-radius: 12px;
  background-color: #ffffff; }

.card-featured {
  padding: 40px; }
  .card-featured .action {
    text-align: center; }

.card.pad-b {
  padding-bottom: 20px; }

.featured-img {
  margin-top: 20px; }

.featured-img img {
  max-width: 100%;
  width: 100% !important; }

.featured-text {
  margin-top: 40px;
  font-size: 15px;
  line-height: 1.4; }

.card-with-banner {
  padding: 0; }

.card-with-banner.bottom-padding {
  padding-bottom: 20px; }

.card-banner-header {
  position: relative;
  overflow: hidden; }

.card-banner-header.pad-b {
  padding-bottom: 20px; }

.card-banner-header .card-banner-bg {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0; }

.card-banner-header .card-banner-bg.pad-top {
  padding-top: 20px; }

.card-banner-header .card-banner-bg.slack-wrap {
  display: block;
  width: 230px;
  margin: 0 auto; }

.card-banner-header .card-banner-bg.pad-top img {
  max-width: 230px !important;
  margin: 0 auto; }

.slack-title {
  color: #404041;
  font-size: 20px;
  margin-bottom: 20px; }

.card-banner-header .card-banner-bg img {
  display: block;
  border-radius: 12px 12px 0 0;
  width: 100%; }

.card-banner-bg .bg {
  width: auto !important;
  min-height: 100%;
  min-width: 100%; }

.card-with-banner .banner-text {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  position: relative;
  padding-top: 5px;
  z-index: 10; }

.card-with-banner .banner-content {
  padding-top: 50px;
  position: relative; }

.card-banner-bg .banner-content .banner-ico {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 5;
  max-height: 48px; }

/* card-con */
.card-con a img {
  max-width: 100% !important;
  height: auto !important; }

.card-con .user-img {
  margin-top: 40px; }

.card-with-banner .card-con {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 15px;
  line-height: 1.47;
  color: #404041; }

.card-with-banner .card-con.nopad-b {
  padding-bottom: 0; }

.card-with-banner .card-con.alt {
  padding-left: 18px;
  padding-right: 18px; }

.card-con .card-img {
  margin-top: 40px; }

.card-with-banner .action {
  margin-top: 40px;
  text-align: center; }

.card-with-banner .action .btn {
  display: inline-block; }

.leaderboard {
  padding-top: 20px;
  padding-bottom: 20px; }

.leaderboard.fluid {
  float: none;
  width: 100%; }

.leaderboard.bdr {
  border-bottom: 1px solid #ebebeb; }

.leaderboard.bdr.alt {
  border-right: none !important;
  border-left: none !important; }

.leaderboard:first-child {
  margin-top: 0; }

.leaderboard .leaderboard-table,
.leaderboard .leaderboard-table tbody,
.leaderboard .leaderboard-table tr {
  min-width: 100%; }

.leaderboard .leaderboard-table tr td {
  line-height: 2.67;
  padding: 0;
  height: 40px; }

.leaderboard .leaderboard-table tr td:nth-child(1) {
  width: 40px; }

.leaderboard .leaderboard-table tr td:nth-child(2) {
  width: auto; }

.leaderboard .leaderboard-table tr td:nth-child(3) {
  width: 75px;
  text-align: right; }

.leaderboard .title {
  color: #404041;
  font-size: 20px;
  margin-bottom: 20px; }

/* grid-leaderboard-group */
.grid-leaderboard-group {
  overflow: hidden; }

.grid-leaderboard-group:last-child {
  padding-bottom: 20px;
  margin-bottom: -20px; }

/* .grid-leaderboard-group .leaderboard{
	padding-bottom: 0;
} */
.grid-leaderboard-group:first-child {
  border-top: none; }

/* mobile layout */
@media only screen and (max-width: 480px) {
  .grid-leaderboard .leaderboard {
    padding-right: 0 !important;
    border-bottom: none !important;
    border-left: none !important;
    padding-left: 0 !important;
    margin-top: 20px !important; }
  .grid-leaderboard .leaderboard.bdr {
    border-right: none !important; }
  .grid-leaderboard .leaderboard.alt {
    border-left: none !important;
    padding-left: 0 !important; }
  .grid-leaderboard .leaderboard:nth-child(3) {
    padding-top: 0 !important; }
  .card-featured {
    padding: 40px 20px; }
  .card-with-banner .card-con {
    padding-left: 20px;
    padding-right: 20px; } }

.grid-leaderboard {
  overflow: hidden; }

.card-con.padding-b {
  padding-bottom: 20px; }

.card-con .text-block {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafb;
  border: solid 1px #ebebeb;
  padding: 20px;
  line-height: 1.4;
  margin-top: 20px; }

.card-con .design-tip {
  background-color: #fff;
  border: none;
  line-height: 1.6;
  margin-top: 40px; }

.card-con .dt-banner {
  padding-right: 20px;
  padding-bottom: 20px;
  z-index: 10;
  position: relative; }

.card-con .dt-tip-text {
  display: block;
  margin-left: 0;
  min-height: 150px;
  color: #404041;
  line-height: 1.6;
  padding-left: 0;
  word-break: break-all; }

.member-thumb {
  display: flex;
  justify-content: center; }

.member-thumb .thumb-wrap {
  border: 5px solid #d8d8d8;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  box-sizing: content-box; }

.member-thumb .thumb-wrap img {
  width: 90px;
  height: 90px !important;
  border-radius: 50%;
  display: block; }

.member-thumb-caption {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  color: #404041;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 20px; }

table .tpl-repeatblock {
  outline: none; }

.member-lead-con {
  font-size: 15px;
  line-height: 1.4;
  color: #404041; }

.date-value {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #404041;
  padding-bottom: 20px; }

.grid-challenges {
  overflow: hidden; }

.grid-challenges .challenge-tile {
  width: 99%;
  display: inline-block;
  min-height: 162px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafb;
  border: solid 1px #ebebeb;
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  border-left: 2px solid #0681ff;
  margin-top: 20px;
  box-sizing: content-box; }

.grid-challenges .challenge-tile .inner {
  margin: 0 20px; }

.repeatable-content-group {
  padding-bottom: 40px; }

/* wider layout styles */
@media only screen and (min-width: 481px) {
  .grid-leaderboard {
    display: block;
    padding-bottom: 40px;
    overflow: hidden; }
  .leaderboard.bdr {
    border-right: 1px solid #ebebeb; }
  .grid-leaderboard .leaderboard {
    float: left;
    width: 49%;
    box-sizing: content-box;
    margin-top: 0;
    padding-right: 0; }
  .grid-leaderboard .leaderboard.fluid {
    width: 100%;
    float: none !important; }
  .grid-leaderboard .leaderboard .inner {
    margin-right: 20px; }
  .grid-leaderboard .leaderboard.alt {
    border-left: 1px solid #ebebeb;
    padding-left: 0 !important;
    padding-right: 0; }
  .grid-leaderboard .leaderboard.alt .inner {
    margin-left: 20px;
    margin-right: 0; }
  .grid-leaderboard .leaderboard.no-padding {
    margin-top: 0 !important; }
  .leaderboard.padding-t {
    margin-top: 20px !important; }
  .grid-leaderboard .leaderboard.lb1,
  .grid-leaderboard .leaderboard.lb2 {
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb !important; }
  .grid-leaderboard .leaderboard.lb3,
  .grid-leaderboard .leaderboard.lb4 {
    padding-top: 20px;
    padding-bottom: 0 !important; }
  .leaderboard .leaderboard-table tr td:nth-child(1) {
    width: 25px; }
  .leaderboard .leaderboard-table tr td:nth-child(2) {
    width: auto; }
  .leaderboard .leaderboard-table tr td:nth-child(3) {
    width: 70px; }
  .grid-challenges .challenge-tile {
    max-width: 46% !important;
    display: inline-block;
    width: 46% !important;
    margin-left: 0;
    margin-right: 0; }
  .grid-challenges .challenge-tile {
    margin-left: 1.5% !important;
    margin-right: 1.5% !important; } }

.grid-challenges .challenge-name {
  margin-top: 10px;
  height: 66px;
  overflow: hidden; }

.grid-challenges .challenge-prize {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.47;
  text-align: left;
  color: #404041; }

.grid-challenges .promo-text {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.47;
  text-align: left;
  color: #f22f24;
  margin-top: 10px; }

.queno {
  display: inline-block;
  font-size: 30px;
  font-weight: 300;
  color: #0681ff;
  height: 40px;
  vertical-align: top;
  float: left; }

.dt-tip-thumb {
  display: inline-block;
  height: 150px;
  vertical-align: top;
  float: left; }

.queno .tpl-content,
.queno span {
  font-size: 30px !important;
  font-weight: 300; }

.que {
  display: block;
  margin-left: 50px;
  color: #404041; }

.social-container {
  display: block; }

.social {
  width: 320px;
  display: block;
  margin: 0 auto;
  text-align: center; }

.social .social-link {
  margin: 0 10px;
  width: 32px;
  height: 32px;
  text-align: center; }

.social .social-link img {
  display: inline-block;
  width: auto; }

.dt-banner {
  width: 150px;
  height: 150px;
  overflow: hidden; }

.dt-banner img {
  max-width: 150px;
  max-height: 150px; }

.shining-start-post {
  padding-bottom: 40px; }

.view-in-browser {
  text-align: right;
  margin-bottom: 20px; }

.view-in-browser a {
  font-family: 'Roboto', 'SF Pro Text', arial, sans-serif !important;
  color: #404041 !important;
  font-size: 13px !important; }

.sbs-wrap {
  overflow: hidden; }

.sbs-wrap .sbs-col {
  display: inline-block;
  width: 48%;
  vertical-align: top; }

.sbs-wrap .sbs-col.alt {
  width: 50%; }

.sbs-wrap .sbs-col h5 {
  font-weight: bold;
  font-size: 15px;
  font-family: 'Roboto', 'SF Pro Text', arial, sans-serif !important;
  color: #404041 !important;
  margin: 0 0 20px 2px; }

.sbs-wrap .sbs-col .sbs-row {
  line-height: 28px;
  margin-left: 2px; }

.card-user .user-thumb img {
  width: 100%; }

.grid-leaderboard-group {
  border-top: 1px solid #ebebeb; }
  .grid-leaderboard-group:first-child {
    border-top: 0; }
  .grid-leaderboard-group .leaderboard {
    float: right;
    width: 49%;
    border-right: none;
    border-bottom: none; }
    .grid-leaderboard-group .leaderboard:first-child {
      width: 49%;
      float: left;
      border-right: 1px solid #ebebeb; }
    .grid-leaderboard-group .leaderboard:last-child .inner {
      margin-left: 8px; }
    .grid-leaderboard-group .leaderboard .leaderboard-table tr td:nth-child(1) {
      width: 27px; }

/*# sourceMappingURL=map/weekly-design-dev-ds.css.map */
