// variables
/* font */

$primary-font: "Roboto", "SF Pro Text", arial, sans-serif;

// colors
$light: #ffffff;
$gray: #7f7f7f;
$darkGray: #555555;
$bgGray: #d4d4d4;
$socialGray: #7f7f7f;
$lightGray: #f4f4f4;
$pale-grey: #fafafb;
$warm-grey: #fafafb;
$line-gray: #e9e9e9;
$cerulean-blue: #006dea;
$deep-sky-blue: #0681ff;
$link-color: #0D61BF;

$tc-black: #151516;
$text-black: #2a2a2a;
$tc-gray-80: #2a2a2a;
$tc-gray-50: #808080;

$theme-blue: #16679A;
