// rest & font
* {
  font-family: $primary-font;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: $cerulean-blue;
  text-decoration: none;
  cursor: pointer;
}

// button
.btn {
  display: inline-block;
  line-height: 30px;
  min-width: 167px;
  padding: 0 20px;
  font-size: 13px;
  font-weight: 500;
  height: 30px;
  border-radius: 4px;
  background-color: $deep-sky-blue;
  color: #ffffff;
}

// layout
.wrapper {
  padding: 0 10px;
  background-color: $gray;
}

#bodyTable {
  .templateContainer {
    border-collapse: collapse;
    border: 0;
    max-width: 600px;
  }
}

.tc-text-content {
  padding-bottom: 20px;
}

.spacer {
  height: 20px;

  &.md {
    height: 30px;
  }
}

//imports
.card {
  min-height: 200px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);

  &.card-with-banner {
    padding: 0;
  }

  .card-banner-header {
    position: relative;
    overflow: hidden;

    .card-banner-bg {
      padding-right: 0;
      padding-left: 0;
      padding-top: 16px;
      padding-bottom: 16px;
      line-height: 30px;
      font-size: 20px;
      text-align: center;
      background-color: $tc-black;
      color: #fff;
      border-radius: 6px 6px 0 0;
    }
  }
}

.featured-text {
  color: $tc-gray-80 !important;
}

.card-banner-bg {
  .bg {
    width: auto;
    min-height: 100%;
    min-width: 100%;
  }

  .banner-text {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    position: relative;
    padding-top: 5px;
    z-index: 10;
  }
}

// post
.post {
  .post-heading {
    background-color: $pale-grey;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;

    .icon-wrap {
      line-height: 16px;
      width: 16px;
      height: 16px;
      float: left;
      margin-left: 20px;

      img {
        width: 16px;
        height: 16px;
      }
    }

    .post-content-text {
      margin-left: 46px;
    }
  }

  .more-link {
    color: $warm-grey;
  } // post-content
  .post-content {
    margin: 0 20px; // user-post
    .user-post {
      overflow: hidden;
      padding-top: 20px;

      .thumb {
        float: left;
        width: 40px;
        height: 40px;

        img {
          display: block;
          width: 40px;
          height: 40px;
        }
      }

      .user-post-text {
        margin-left: 50px;
        font-size: 13px;
        line-height: 20px;
        text-align: left;
        color: $tc-black;

        .user-data {
          .time {
            color: $tc-gray-50;
          }
        }

        &.fluid {
          margin-left: 0;
        }
      }
    } // snapshot-post
    .snapshot-post {
      overflow: hidden;
      max-width: 320px;
      margin: 9px auto 0;

      .post-snapshot {
        max-width: 150px;
        width: 49%;
        float: left;

        &.alt {
          float: right;
        }

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .more-user-post {
    margin-top: 20px;
    text-align: center;

    a {
      font-size: 13px;
      color: $tc-black;
    }
  }

  .actions {
    text-align: center;
    margin-top: 50px;

    &.alt {
      margin-top: 30px;
    }
  }
}

// top-header styles
.top-header {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  line-height: 36px;
  color: $tc-gray-80;
  font-size: 13px;

  .logo {
    width: 53px;
    height: 36px;
    float: left;

    img {
      width: 53px;
      height: 36px;
    }
  }
}

// post-footer
.post-footer {
  text-align: center;
  color: $warm-grey;
  font-size: 11px;
  line-height: 20px;
  margin-top: 20px;
  padding-bottom: 20px;

  a {
    color: $warm-grey;
  }
}

// tc-footer-text
.tc-footer-text-content {
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: $warm-grey;
  padding-bottom: 20px;

  .tc-footer-text {
    max-width: 396px;
    box-sizing: content-box;
    padding: 0 2px;
    margin: 0 auto;
  }

  .seperator-dots {
    height: 5px;
    text-align: center;
    margin: 15px 0;

    img {
      display: inline-block;
      width: 21px;
      height: 5px;
    }
  }
}
