// variables
/* font */

$primary-font: "Roboto", "SF Pro Text", arial, sans-serif;

// colors
$gray: #ebebeb;
$tc-gray-80: #ebebeb;
$pale-grey: #fafafb;
$warm-grey: #fafafb;
$cerulean-blue: #006dea;
$deep-sky-blue: #0681ff;

$tc-black: #151516;
$tc-gray-80: #404041;
$tc-gray-50: #808080;
