/* font */
/* font */
* {
  font-family: "Roboto", "SF Pro Text", arial, sans-serif;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

a {
  color: #006dea;
  text-decoration: none;
  cursor: pointer; }

.btn {
  display: inline-block;
  line-height: 30px;
  min-width: 167px;
  padding: 0 20px;
  font-size: 13px;
  font-weight: 500;
  height: 30px;
  border-radius: 4px;
  background-color: #0681ff;
  color: #ffffff; }

.wrapper {
  padding: 0 10px;
  background-color: #7f7f7f; }

#bodyTable .templateContainer {
  border-collapse: collapse;
  border: 0;
  max-width: 600px; }

.tc-text-content {
  padding-bottom: 20px; }

.spacer {
  height: 20px; }
  .spacer.md {
    height: 30px; }

.card {
  min-height: 200px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); }
  .card.card-with-banner {
    padding: 0; }
  .card .card-featured {
    background-image: linear-gradient(to bottom, #2c95d7, #8441a3); }
    .card .card-featured .date-row {
      text-align: center; }
    .card .card-featured .logo-row {
      text-align: center; }
      .card .card-featured .logo-row img {
        display: inline-block; }
    .card .card-featured .date-el {
      width: 135px;
      height: 24px;
      line-height: 24px;
      border-radius: 0 0 5px 5px;
      background-color: #ffffff;
      padding: 0 10px;
      min-width: 115px;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      color: #7f7f7f;
      display: inline-block; }
  .card .card-banner-header {
    position: relative;
    overflow: hidden; }
    .card .card-banner-header .card-banner-bg {
      padding-right: 0;
      padding-left: 0;
      padding-top: 16px;
      padding-bottom: 16px;
      line-height: 30px;
      font-size: 20px;
      text-align: center;
      background-color: #151516;
      color: #fff;
      border-radius: 6px 6px 0 0; }

.featured-text {
  color: #2a2a2a !important; }

.card-banner-bg .bg {
  width: auto;
  min-height: 100%;
  min-width: 100%; }

.card-banner-bg .banner-text {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  position: relative;
  padding-top: 5px;
  z-index: 10; }

.post .post-heading {
  background-color: #fafafb;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 20px; }
  .post .post-heading .icon-wrap {
    line-height: 16px;
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 20px; }
    .post .post-heading .icon-wrap img {
      width: 16px;
      height: 16px; }
  .post .post-heading .post-content-text {
    margin-left: 46px; }

.post .more-link {
  color: #fafafb; }

.post .post-content {
  margin: 0 20px; }
  .post .post-content .user-post {
    overflow: hidden;
    padding-top: 20px; }
    .post .post-content .user-post .thumb {
      float: left;
      width: 40px;
      height: 40px; }
      .post .post-content .user-post .thumb img {
        display: block;
        width: 40px;
        height: 40px; }
    .post .post-content .user-post .user-post-text {
      margin-left: 50px;
      font-size: 13px;
      line-height: 20px;
      text-align: left;
      color: #151516; }
      .post .post-content .user-post .user-post-text .user-data .time {
        color: #808080; }
      .post .post-content .user-post .user-post-text.fluid {
        margin-left: 0; }
  .post .post-content .snapshot-post {
    overflow: hidden;
    max-width: 320px;
    margin: 9px auto 0; }
    .post .post-content .snapshot-post .post-snapshot {
      max-width: 150px;
      width: 49%;
      float: left; }
      .post .post-content .snapshot-post .post-snapshot.alt {
        float: right; }
      .post .post-content .snapshot-post .post-snapshot img {
        display: block;
        width: 100%;
        height: auto; }

.post .more-user-post {
  margin-top: 20px;
  text-align: center; }
  .post .more-user-post a {
    font-size: 13px;
    color: #151516; }

.post .actions {
  text-align: center;
  margin-top: 50px; }
  .post .actions.alt {
    margin-top: 30px; }

.top-header {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  line-height: 36px;
  color: #2a2a2a;
  font-size: 13px; }
  .top-header .logo {
    width: 53px;
    height: 36px;
    float: left; }
    .top-header .logo img {
      width: 53px;
      height: 36px; }

.post-footer {
  text-align: center;
  color: #fafafb;
  font-size: 11px;
  line-height: 20px;
  margin-top: 20px;
  padding-bottom: 20px; }
  .post-footer a {
    color: #fafafb; }

.tc-footer-text-content {
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #fafafb;
  padding-bottom: 20px; }
  .tc-footer-text-content .tc-footer-text {
    max-width: 396px;
    box-sizing: content-box;
    padding: 0 2px;
    margin: 0 auto; }
  .tc-footer-text-content .seperator-dots {
    height: 5px;
    text-align: center;
    margin: 15px 0; }
    .tc-footer-text-content .seperator-dots img {
      display: inline-block;
      width: 21px;
      height: 5px; }

/*# sourceMappingURL=map/main.css.map */
