/* font */
/* mc reset */
.dijitPopup {
  margin-top: 0 !important; }

p {
  margin: 10px 0;
  padding: 0; }

table {
  border-collapse: collapse; }

img,
a img {
  border: 0;
  outline: none;
  height: auto !important;
  max-width: 100% !important; }

body,
#bodyTable,
#bodyCell {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

.mcnPreviewText {
  display: none !important; }

#outlook a {
  padding: 0; }

img {
  -ms-interpolation-mode: bicubic; }

table {
  mso-table-lspace: 0;
  mso-table-rspace: 0; }

p,
a,
li,
td,
blockquote {
  mso-line-height-rule: exactly; }

a[href^=tel],
a[href^=sms] {
  color: inherit;
  cursor: default;
  text-decoration: none; }

p,
a,
li,
td,
body,
table,
blockquote {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important; }

.np .tpl-content {
  padding: 0; }

.templateContainer {
  max-width: 600px !important;
  line-height: 1.4;
  color: #2a2a2a;
  font-family: arial, sans-serif !important; }

a.mcnButton {
  display: block; }

.mcnImage,
.mcnRetinaImage {
  vertical-align: bottom; }

.mcnTextContent {
  word-break: break-word; }

.mcnTextContent img {
  height: auto !important;
  max-width: 100% !important;
  width: 100%; }

.mcnDividerBlock {
  table-layout: fixed !important; }

body,
#bodyTable {
  background-color: #d4d4d4; }

#bodyCell {
  border-top: 0; }

.templateContainer {
  border: 0; }

#d {
  background-color: #f4f4f4;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 0;
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }

#d .mcnTextContent,
#d .mcnTextContent p {
  color: #2a2a2a;
  font-family: arial, sans-serif !important;
  font-size: 14px;
  line-height: 24px;
  line-height: 150%;
  text-align: left; }

#templateHeader {
  background-color: #ffffff;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 0;
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }
  #templateHeader.bg-gray {
    background-color: #f4f4f4; }
  #templateHeader .mcnTextBlockInner {
    border-top: 0px solid #f4f4f4 !important;
    padding-top: 0 !important; }

#templateBody {
  background-color: #f4f4f4;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 0;
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }
  #templateBody .card {
    margin: 0 20px; }
    #templateBody .card.card-post-list {
      margin: 0; }
    #templateBody .card.card-tunnel {
      margin: 0; }
  #templateBody .mcnTextBlockInner {
    padding-top: 0 !important;
    border-top: 10px solid #f4f4f4 !important;
    background: #f4f4f4; }
    #templateBody .mcnTextBlockInner.noborder {
      border-top: 0px solid #f4f4f4 !important; }
    #templateBody .mcnTextBlockInner.darkgray-bg {
      background: #d4d4d4; }
    #templateBody .mcnTextBlockInner .mcnTextBlockInner {
      padding-top: 0 !important; }

#templateBody .mcnTextContent,
#templateBody .mcnTextContent p {
  color: #2a2a2a;
  font-family: arial, sans-serif !important;
  font-size: 14px;
  line-height: 150%;
  text-align: left; }

#templateBody .mcnTextContent a,
#templateBody .mcnTextContent p a {
  color: #2C95D7;
  font-weight: normal;
  text-decoration: none; }

#templateFooter {
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 0;
  border-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px; }
  #templateFooter .mcnTextBlockInner {
    background: #d4d4d4;
    border-top: 10px solid #d4d4d4 !important; }

#templateFooter .mcnTextContent,
#templateFooter .mcnTextContent p {
  color: #2a2a2a;
  font-family: arial, sans-serif !important;
  font-size: 12px;
  line-height: 150%;
  text-align: center; }

#templateFooter .mcnTextContent a,
#templateFooter .mcnTextContent p a {
  color: #2a2a2a;
  font-weight: normal;
  text-decoration: underline; }

* {
  font-size: 14px;
  box-sizing: border-box; }

.templateHeader {
  padding-top: 0 !important; }

a,
a:hover {
  color: #2C95D7;
  text-decoration: none !important;
  cursor: pointer; }

.x_mcnTextBlock {
  height: auto !important; }

.mcnTextContent {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.btn,
a.btn,
a.btn:hover {
  border-radius: 4px;
  background-color: #ef476f;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  color: #ffffff !important;
  text-decoration: none !important;
  min-width: 159px;
  height: 40px;
  border-radius: 35px;
  padding: 0 6px;
  display: inline-block; }
  .btn.btn-gray,
  a.btn.btn-gray,
  a.btn:hover.btn-gray {
    background-color: #aaaaaa; }
  .btn.btn-blue,
  a.btn.btn-blue,
  a.btn:hover.btn-blue {
    background-color: #2c95d7; }

#templateBody .mcnTextContent .link-more {
  background: url("https://gallery.mailchimp.com/65bd5a1857b73643aad556093/images/6ea25701-b411-4223-97ec-a51efe8ee659.png") no-repeat;
  background-size: 13px auto;
  background-position: 95% 3px;
  padding-right: 20px;
  color: #ef476f;
  font-weight: bold;
  font-size: 12px; }
  #templateBody .mcnTextContent .link-more:hover {
    background-position: 100% 3px; }

.main-header {
  overflow: hidden; }

.main-header .col {
  float: right; }

.main-header .col:first-child {
  float: left; }

.main-header img {
  width: 135px; }

.date {
  color: #2a2a2a;
  font-size: 14px; }

.card {
  min-height: 50px;
  border-radius: 10px;
  background-color: #ffffff; }
  .card.card-width-img-rt {
    min-height: 298px; }
    .card.card-width-img-rt .card-con-main {
      margin-right: 10%;
      padding: 20px; }
    .card.card-width-img-rt .card-con-rt {
      float: right;
      width: 272px;
      height: 298px; }
      .card.card-width-img-rt .card-con-rt img {
        width: 272px; }
  .card.card-post-list {
    background-color: #f4f4f4; }
    .card.card-post-list .card-t-bg {
      height: 28px;
      background-color: #f4f4f4;
      background: #f4f4f4 url("https://gallery.mailchimp.com/65bd5a1857b73643aad556093/images/8eba9a31-da55-4383-8520-58f0a5acb7df.png") 0 0 no-repeat;
      background-size: 100% 200%; }
    .card.card-post-list .wave-sepetator {
      margin-top: 6px; }
    .card.card-post-list .card-con {
      background-color: #fff; }
    .card.card-post-list .con-post {
      padding: 0;
      margin: 0 20px;
      font-size: 14px;
      line-height: 23px;
      color: #2a2a2a;
      padding-top: 50px;
      padding-bottom: 50px;
      border-top: 2px solid #e9e9e9; }
      .card.card-post-list .con-post .post-featured-img {
        float: left;
        padding-right: 20px;
        padding-bottom: 12px;
        width: 205px;
        z-index: 10; }
        .card.card-post-list .con-post .post-featured-img img {
          max-width: 185px; }
      .card.card-post-list .con-post h3 {
        font-size: 20px;
        font-weight: bold;
        line-height: 26px;
        color: #2a2a2a;
        margin-top: 0;
        margin-bottom: 6px; }
      .card.card-post-list .con-post .post-text {
        margin-left: 0; }
      .card.card-post-list .con-post .action-link {
        margin-top: 20px; }

.wave-sepetator {
  background: url("https://gallery.mailchimp.com/65bd5a1857b73643aad556093/images/970fb6f4-e50b-4673-873e-865ef5166f3f.png") 50% 50% no-repeat;
  background-size: 309px;
  height: 20px; }

.card-featured {
  background-color: #f4f4f4;
  background: url("https://gallery.mailchimp.com/65bd5a1857b73643aad556093/images/c761a1f5-2e28-4797-8048-446e1a027e2d.jpg") repeat-x;
  background-size: auto 100%;
  background-image: linear-gradient(to bottom, #2c95d7, #8441a3);
  border-radius: 0; }
  .card-featured.no-grad {
    background: transparent;
    border-top: 1px solid transparent; }
  .card-featured .logo-row {
    margin-top: 50px;
    text-align: center; }
    .card-featured .logo-row.v-center {
      margin-top: 0;
      margin-top: 68px;
      height: 60px; }
    .card-featured .logo-row.mt-sm {
      margin-top: 40px;
      height: 55px; }
    .card-featured .logo-row img {
      display: inline-block;
      width: auto;
      width: 192px; }
  .card-featured .title-text {
    margin-top: 10px;
    text-align: center; }
    .card-featured .title-text img {
      display: inline-block;
      width: 50%; }
  .card-featured .bg-ft-curve {
    height: 53px;
    margin-top: 40px;
    background: url("https://gallery.mailchimp.com/65bd5a1857b73643aad556093/images/ab546bd0-04af-46bd-a3b2-ab0273786d96.png") 0 100% no-repeat;
    background-size: 100%; }
  .card-featured.grad-blue {
    background: url("https://gallery.mailchimp.com/65bd5a1857b73643aad556093/images/00462ea5-d65b-4409-a906-be357acaa55d.jpg") repeat-x;
    background-size: auto 100%;
    background-image: linear-gradient(to bottom, #07d6a0, #2c95d7);
    border-radius: 0;
    border-top: 1px solid #07d6a0; }
  .card-featured.alt .logo-row img {
    width: auto;
    width: 240px; }
  .card-featured.alt .logo-row.logo-sm img {
    width: 168px; }
  .card-featured.alt .bg-ft-curve {
    height: 60px; }
  .card-featured .date-row {
    text-align: center; }
  .card-featured .date-el {
    width: 135px;
    height: 24px;
    line-height: 24px;
    border-radius: 0 0 5px 5px;
    background-color: #ffffff;
    padding: 0 10px;
    min-width: 115px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: #7f7f7f;
    display: inline-block; }

.card.pad-b {
  padding-bottom: 20px; }

.featured-img {
  margin-top: 20px; }

.featured-img img {
  max-width: 100%;
  width: 100% !important; }

.featured-text {
  margin-top: 40px;
  font-size: 14px;
  line-height: 1.4; }

.card-with-banner {
  padding: 0; }
  .card-with-banner .featured-img {
    max-height: 190px;
    width: 100%; }
  .card-with-banner .featured-content {
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    line-height: 23px;
    color: #2a2a2a;
    padding: 20px 20px 20px; }
    .card-with-banner .featured-content.no-header-img {
      padding-top: 30px; }
    .card-with-banner .featured-content h3 {
      font-size: 20px;
      font-weight: bold;
      line-height: 26px;
      color: #2a2a2a;
      margin-bottom: 8px;
      margin-top: 0; }
  .card-with-banner .action-link {
    margin-top: 20px; }

.card-with-banner.bottom-padding {
  padding-bottom: 20px; }

.card-banner-header {
  position: relative;
  overflow: hidden;
  background-color: #f4f4f4; }

.card-banner-header.pad-b {
  padding-bottom: 20px; }

.card-banner-header .card-banner-bg {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0; }

.card-banner-header .card-banner-bg.pad-top {
  padding-top: 20px; }

.card-banner-header .card-banner-bg.slack-wrap {
  display: block;
  width: 230px;
  margin: 0 auto; }

.card-banner-header .card-banner-bg.pad-top img {
  max-width: 230px !important;
  margin: 0 auto; }

.slack-title {
  color: #2a2a2a;
  font-size: 20px;
  margin-bottom: 20px; }

.card-banner-header .card-banner-bg img {
  display: block;
  border-radius: 12px 12px 0 0;
  width: 100%; }

.card-banner-bg .bg {
  width: auto !important;
  min-height: 100%;
  min-width: 100%; }

.card-with-banner .banner-text {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  position: relative;
  padding-top: 5px;
  z-index: 10; }

.card-with-banner .banner-content {
  padding-top: 50px;
  position: relative; }

.card-banner-bg .banner-content .banner-ico {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 5;
  max-height: 48px; }

/* card-con */
.card-con a img {
  max-width: 100% !important;
  height: auto !important; }

.card-con .user-img {
  margin-top: 40px; }

.card-with-banner .card-con {
  font-size: 14px;
  line-height: 1.47;
  color: #2a2a2a; }

.card-with-banner .card-con.nopad-b {
  padding-bottom: 0; }

.card-with-banner .card-con.alt {
  padding-left: 18px;
  padding-right: 18px; }

.card-con .card-img {
  margin-top: 40px; }

.card-con.rounded {
  border-top: 5px solid #f4f4f4;
  border-radius: 10px; }

.card-con .img-curve img {
  margin-top: -30px; }

.card-con .featured-image.gray-bg {
  padding: 33px 20px 63px;
  background: #f4f4f4 url("https://gallery.mailchimp.com/65bd5a1857b73643aad556093/images/a5dba245-cbc1-4141-92e8-09fe78ab3036.png") 50% 100% no-repeat;
  background-size: 100%; }

.card-con .featured-image.rounded {
  border-radius: 5px; }

.card-con .featured-image .logo-dark {
  width: 168px; }

.card-with-banner .action {
  margin-top: 40px;
  text-align: center; }

.card-with-banner .action .btn {
  display: inline-block; }

.leaderboard {
  padding-top: 20px;
  padding-bottom: 20px; }

.leaderboard.fluid {
  float: none;
  width: 100%; }

.leaderboard.bdr {
  border-bottom: 1px solid #ebebeb; }

.leaderboard.bdr.alt {
  border-right: none !important;
  border-left: none !important; }

.leaderboard:first-child {
  margin-top: 0; }

.leaderboard .leaderboard-table,
.leaderboard .leaderboard-table tbody,
.leaderboard .leaderboard-table tr {
  min-width: 100%; }

.leaderboard .leaderboard-table tr td {
  line-height: 2.67;
  padding: 0;
  height: 40px; }

.leaderboard .leaderboard-table tr td:nth-child(1) {
  width: 40px; }

.leaderboard .leaderboard-table tr td:nth-child(2) {
  width: auto; }

.leaderboard .leaderboard-table tr td:nth-child(3) {
  width: 75px;
  text-align: right; }

.leaderboard .title {
  color: #2a2a2a;
  font-size: 20px;
  margin-bottom: 20px; }

/* grid-leaderboard-group */
.grid-leaderboard-group {
  overflow: hidden; }

.grid-leaderboard-group:last-child {
  padding-bottom: 20px;
  margin-bottom: -20px; }

/* .grid-leaderboard-group .leaderboard{
	padding-bottom: 0;
} */
.grid-leaderboard-group:first-child {
  border-top: none; }

/* mobile layout */
@media only screen and (max-width: 480px) {
  .grid-leaderboard .leaderboard {
    padding-right: 0 !important;
    border-bottom: none !important;
    border-left: none !important;
    padding-left: 0 !important;
    margin-top: 20px !important; }
  .grid-leaderboard .leaderboard.bdr {
    border-right: none !important; }
  .grid-leaderboard .leaderboard.alt {
    border-left: none !important;
    padding-left: 0 !important; }
  .grid-leaderboard .leaderboard:nth-child(3) {
    padding-top: 0 !important; }
  .card-with-banner .card-con {
    padding-left: 20px;
    padding-right: 20px; } }

.grid-leaderboard {
  overflow: hidden; }

.card-con.padding-b {
  padding-bottom: 20px; }

.card-con .text-block {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafb;
  border: solid 1px #ebebeb;
  padding: 20px;
  line-height: 1.4;
  margin-top: 20px; }

.card-con .design-tip {
  background-color: #fff;
  border: none;
  line-height: 1.6;
  margin-top: 40px; }

.card-con .dt-banner {
  padding-right: 20px;
  padding-bottom: 20px;
  z-index: 10;
  position: relative; }

.card-con .dt-tip-text {
  display: block;
  margin-left: 0;
  min-height: 150px;
  color: #2a2a2a;
  line-height: 1.6;
  padding-left: 0;
  word-break: break-all; }

.member-thumb {
  display: flex;
  justify-content: center; }

.member-thumb .thumb-wrap {
  border: 5px solid #d8d8d8;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  box-sizing: content-box; }

.member-thumb .thumb-wrap img {
  width: 90px;
  height: 90px !important;
  border-radius: 50%;
  display: block; }

.member-thumb-caption {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  color: #2a2a2a;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 20px; }

table .tpl-repeatblock {
  outline: none; }

table.tpl-repeatblock {
  outline: none; }

.member-lead-con {
  font-size: 14px;
  line-height: 1.4;
  color: #2a2a2a; }

.date-value {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2a2a2a;
  padding-bottom: 20px; }

.grid-challenges {
  overflow: hidden; }

.grid-challenges .challenge-tile {
  width: 99%;
  display: inline-block;
  min-height: 162px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafb;
  border: solid 1px #ebebeb;
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  border-left: 2px solid #0681ff;
  margin-top: 20px;
  box-sizing: content-box; }

.grid-challenges .challenge-tile .inner {
  margin: 0 20px; }

.repeatable-content-group {
  padding-bottom: 40px; }

/* wider layout styles */
@media only screen and (min-width: 481px) {
  .grid-leaderboard {
    display: block;
    padding-bottom: 40px;
    overflow: hidden; }
  .leaderboard.bdr {
    border-right: 1px solid #ebebeb; }
  .grid-leaderboard .leaderboard {
    float: left;
    width: 49%;
    box-sizing: content-box;
    margin-top: 0;
    padding-right: 0; }
  .grid-leaderboard .leaderboard.fluid {
    width: 100%;
    float: none !important; }
  .grid-leaderboard .leaderboard .inner {
    margin-right: 20px; }
  .grid-leaderboard .leaderboard.alt {
    border-left: 1px solid #ebebeb;
    padding-left: 0 !important;
    padding-right: 0; }
  .grid-leaderboard .leaderboard.alt .inner {
    margin-left: 20px;
    margin-right: 0; }
  .grid-leaderboard .leaderboard.no-padding {
    margin-top: 0 !important; }
  .leaderboard.padding-t {
    margin-top: 20px !important; }
  .grid-leaderboard .leaderboard.lb1,
  .grid-leaderboard .leaderboard.lb2 {
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb !important; }
  .grid-leaderboard .leaderboard.lb3,
  .grid-leaderboard .leaderboard.lb4 {
    padding-top: 20px;
    padding-bottom: 0 !important; }
  .leaderboard .leaderboard-table tr td:nth-child(1) {
    width: 25px; }
  .leaderboard .leaderboard-table tr td:nth-child(2) {
    width: auto; }
  .leaderboard .leaderboard-table tr td:nth-child(3) {
    width: 70px; }
  .grid-challenges .challenge-tile {
    max-width: 46% !important;
    display: inline-block;
    width: 46% !important;
    margin-left: 0;
    margin-right: 0; }
  .grid-challenges .challenge-tile {
    margin-left: 1.5% !important;
    margin-right: 1.5% !important; } }

.grid-challenges .challenge-name {
  margin-top: 10px;
  height: 66px;
  overflow: hidden; }

.grid-challenges .challenge-prize {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.47;
  text-align: left;
  color: #2a2a2a; }

.grid-challenges .promo-text {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.47;
  text-align: left;
  color: #f22f24;
  margin-top: 10px; }

.queno {
  display: inline-block;
  font-size: 30px;
  font-weight: 300;
  color: #0681ff;
  height: 40px;
  vertical-align: top;
  float: left; }

.dt-tip-thumb {
  display: inline-block;
  height: 150px;
  vertical-align: top;
  float: left; }

.queno .tpl-content,
.queno span {
  font-size: 30px !important;
  font-weight: 300; }

.que {
  display: block;
  margin-left: 50px;
  color: #2a2a2a; }

.social-container {
  display: block; }

.social {
  width: 320px;
  display: block;
  margin: 0 auto;
  text-align: center; }

.social .social-link {
  margin: 0 10px;
  width: 32px;
  height: 32px;
  text-align: center; }

.social .social-link img {
  display: inline-block;
  width: auto; }

.dt-banner {
  width: 150px;
  height: 150px;
  overflow: hidden; }

.dt-banner img {
  max-width: 150px;
  max-height: 150px; }

.shining-start-post {
  padding-bottom: 40px; }

.view-in-browser {
  text-align: right;
  margin-bottom: 20px; }

.view-in-browser a {
  font-family: arial, sans-serif !important;
  color: #2a2a2a !important;
  font-size: 13px !important; }

.sbs-wrap {
  overflow: hidden; }

.sbs-wrap .sbs-col {
  display: inline-block;
  width: 48%;
  vertical-align: top; }

.sbs-wrap .sbs-col.alt {
  width: 50%; }

.sbs-wrap .sbs-col h5 {
  font-weight: bold;
  font-size: 14px;
  font-family: arial, sans-serif !important;
  color: #2a2a2a !important;
  margin: 0 0 20px 2px; }

.sbs-wrap .sbs-col .sbs-row {
  line-height: 28px;
  margin-left: 2px; }

.card-user .user-thumb img {
  width: 100%; }

.grid-leaderboard-group {
  border-top: 1px solid #ebebeb; }
  .grid-leaderboard-group:first-child {
    border-top: 0; }
  .grid-leaderboard-group .leaderboard {
    float: right;
    width: 49%;
    border-right: none;
    border-bottom: none; }
    .grid-leaderboard-group .leaderboard:first-child {
      width: 49%;
      float: left;
      border-right: 1px solid #ebebeb; }
    .grid-leaderboard-group .leaderboard:last-child .inner {
      margin-left: 8px; }
    .grid-leaderboard-group .leaderboard .leaderboard-table tr td:nth-child(1) {
      width: 27px; }

.grouped-cards .card {
  width: 48%;
  min-height: 506px; }
  .grouped-cards .card.card-rt {
    float: left; }
  .grouped-cards .card.card-lt {
    margin-left: 51%;
    width: 49%; }
  .grouped-cards .card .header-img {
    min-height: 190px; }
  .grouped-cards .card .card-con-main {
    margin-top: 10px;
    font-size: 14px;
    line-height: 23px;
    color: #2a2a2a;
    padding: 0 20px; }
    .grouped-cards .card .card-con-main h3 {
      font-size: 20px;
      font-weight: bold;
      line-height: 26px;
      color: #2a2a2a;
      margin-bottom: 8px;
      margin-top: 0; }
    .grouped-cards .card .card-con-main .action-link {
      margin-top: 18px;
      padding-bottom: 18px;
      font-size: 12px; }

.project-actions {
  margin-top: 58px; }
  .project-actions.pd-t-sm {
    margin-top: 10px; }
  .project-actions.pd-t-md {
    margin-top: 30px; }
  .project-actions h2 {
    background: url("https://gallery.mailchimp.com/65bd5a1857b73643aad556093/images/ce8d58dd-653a-4390-bcb1-5f01a094e9e0.png") 50% 50% no-repeat;
    background-size: 80% auto;
    height: 42px;
    margin: 0; }
  .project-actions .btn {
    margin: 17px 10px; }
  .project-actions .action-btns {
    margin-top: 25px;
    text-align: center; }
  .project-actions .offer {
    font-size: 14px;
    text-align: center;
    margin-top: 30px; }
  .project-actions .social-connects {
    text-align: center;
    padding: 72px 0 30px 0;
    height: 54px; }
    .project-actions .social-connects.pd-t-n {
      padding-top: 0; }
    .project-actions .social-connects a {
      width: 24px;
      height: 24px;
      border-radius: 12px;
      background: #fff;
      display: inline-block;
      margin: 0 5px; }
      .project-actions .social-connects a.in {
        background: url("https://gallery.mailchimp.com/65bd5a1857b73643aad556093/images/a5a3aff8-49e7-4ab4-9873-7056ef20958f.png") 50% 50% no-repeat;
        background-size: 24px; }
      .project-actions .social-connects a.fb {
        background: url("https://gallery.mailchimp.com/65bd5a1857b73643aad556093/images/1009d85b-4707-45c9-a0ec-27bfa7539b83.png") 50% 50% no-repeat;
        background-size: 24px; }
      .project-actions .social-connects a.tw {
        background: url("https://gallery.mailchimp.com/65bd5a1857b73643aad556093/images/e3b374e2-97cd-4828-a8ba-9e81e4370407.png") 50% 50% no-repeat;
        background-size: 24px; }
      .project-actions .social-connects a.yt {
        background: url("https://gallery.mailchimp.com/65bd5a1857b73643aad556093/images/70647524-90a9-4441-95fb-4e098e0cad9d.png") 50% 50% no-repeat;
        background-size: 24px; }

/*# sourceMappingURL=map/weekly-design-dev-ds.css.map */
