/* font */
/* mc reset */
div, p, li, a, p.MsoNormal, li.MsoNormal, div.MsoNormal {
  font-family: Arial; }

p {
  margin: 10px 0;
  padding: 0; }

table {
  border-collapse: collapse; }

img,
a img {
  border: 0;
  outline: none;
  height: auto !important;
  max-width: 100%; }

body,
#bodyTable,
#bodyCell {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

.mcnPreviewText {
  display: none !important; }

#outlook a {
  padding: 0; }

img {
  -ms-interpolation-mode: bicubic; }

table {
  mso-table-lspace: 0;
  mso-table-rspace: 0; }

p,
a,
li,
td,
blockquote {
  mso-line-height-rule: exactly; }

a[href^=tel],
a[href^=sms] {
  color: inherit;
  cursor: default;
  text-decoration: none; }

p,
a,
li,
td,
body,
blockquote {
  -webkit-text-size-adjust: 100%; }

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important; }

.np .tpl-content {
  padding: 0; }

.templateContainerWrap {
  max-width: 600px; }

.templateContainer {
  max-width: 600px !important;
  line-height: 1.4;
  color: #2a2a2a;
  font-family: arial, sans-serif; }

a.mcnButton {
  display: block; }

.mcnImage,
.mcnRetinaImage {
  vertical-align: bottom; }

.mcnTextContent {
  word-break: break-word;
  display: block; }

.mcnTextContent img {
  height: auto !important;
  max-width: 100%;
  width: 100%; }

.post-featured-img img {
  width: auto; }

.mcnDividerBlock {
  table-layout: fixed !important; }

body,
#bodyTable {
  background-color: #ffffff; }

#bodyCell {
  border-top: 0; }

.templateContainer {
  border: 0; }

#d {
  background-color: #f4f4f4;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 0;
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }

#d .mcnTextContent,
#d .mcnTextContent p {
  color: #2a2a2a;
  font-family: arial, sans-serif;
  line-height: 24px;
  line-height: 150%; }

#templateHeader {
  background-color: #ffffff;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 0;
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }
  #templateHeader.bg-gray {
    background-color: #f4f4f4; }
  #templateHeader .mcnTextBlockInner {
    border-top: 0px solid #f4f4f4 !important;
    padding-top: 0 !important; }
  #templateHeader .view-in-browser {
    padding: 15px 0;
    text-align: right; }
    #templateHeader .view-in-browser a {
      font-size: 12px;
      color: #2a2a2a;
      display: inline-block;
      line-height: 24px;
      text-decoration: none !important; }

#templateBody {
  background-color: #ffffff;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 0; }
  #templateBody .card {
    margin: 0 20px; }
    #templateBody .card.card-featured {
      max-width: 560px; }
    #templateBody .card.card-post-list {
      margin: 0; }
    #templateBody .card.card-tunnel {
      margin: 0; }
  #templateBody .mcnTextBlockInner {
    padding-top: 0 !important;
    background: #ffffff; }
    #templateBody .mcnTextBlockInner.gray {
      background: #f4f4f4; }
    #templateBody .mcnTextBlockInner.rounded {
      border-radius: 10px; }
    #templateBody .mcnTextBlockInner.noborder {
      border-top: 0px solid #f4f4f4 !important; }
    #templateBody .mcnTextBlockInner.darkgray-bg {
      background: #d4d4d4; }
    #templateBody .mcnTextBlockInner .mcnTextBlockInner {
      padding-top: 0 !important; }

#templateBody .mcnTextContent,
#templateBody .mcnTextContent p {
  font-family: arial, sans-serif;
  line-height: 150%; }

#templateBody .mcnTextContent a,
#templateBody .mcnTextContent p a {
  font-weight: normal; }

#templateFooter {
  background-color: #ffffff;
  border-top: 0;
  border-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px; }
  #templateFooter.gray {
    background-color: #f4f4f4;
    border-radius: 0 0 10px 10px; }

#templateFooter .mcnTextContent,
#templateFooter .mcnTextContent p {
  color: #2a2a2a;
  font-family: arial, sans-serif;
  font-size: 12px;
  line-height: 150%;
  text-align: center; }
  #templateFooter .mcnTextContent .copy-row,
  #templateFooter .mcnTextContent p .copy-row {
    font-size: 12px; }
  #templateFooter .mcnTextContent .unsub-row,
  #templateFooter .mcnTextContent p .unsub-row {
    margin-top: 10px;
    font-size: 12px;
    padding-bottom: 20px; }
    #templateFooter .mcnTextContent .unsub-row a,
    #templateFooter .mcnTextContent p .unsub-row a {
      font-size: 12px;
      color: #0D61BF;
      text-decoration: underline !important; }

#templateFooter .mcnTextContent a,
#templateFooter .mcnTextContent p a {
  color: #2a2a2a;
  font-weight: normal; }

.templateHeader {
  padding-top: 0 !important; }

a,
a:hover {
  color: #0D61BF; }

a:hover {
  text-decoration: none !important; }

.x_mcnTextBlock {
  height: auto !important; }

.mcnTextContent {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.btn,
a.btn,
a.btn:hover {
  border-radius: 4px;
  background-color: #ef476f;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  color: #ffffff !important;
  text-decoration: none !important;
  min-width: 159px;
  height: 40px;
  border-radius: 35px;
  padding: 0 6px;
  display: inline-block; }
  .btn.btn-gray,
  a.btn.btn-gray,
  a.btn:hover.btn-gray {
    background-color: #aaaaaa; }
  .btn.btn-blue,
  a.btn.btn-blue,
  a.btn:hover.btn-blue {
    background-color: #0D61BF; }

#templateBody .mcnTextContent .link-more {
  background: url("https://gallery.mailchimp.com/65bd5a1857b73643aad556093/images/69c98cfe-5803-4209-8823-09b2dce69e90.png") no-repeat;
  background-size: 13px auto;
  background-position: 95% 1px;
  padding-right: 30px;
  color: #0D61BF;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none; }
  #templateBody .mcnTextContent .link-more:hover {
    background-position: 100% 3px; }

.main-header {
  overflow: hidden; }

.main-header .col {
  float: right; }

.main-header .col:first-child {
  float: left; }

.main-header img {
  width: 194px; }

.date {
  color: #2a2a2a;
  font-size: 14px; }

.card {
  min-height: 50px;
  border-radius: 10px;
  background-color: #ffffff; }
  .card.transparent {
    background-color: transparent; }
  .card.card-width-img-rt {
    min-height: 298px; }
    .card.card-width-img-rt .card-con-main {
      margin-right: 10%;
      padding: 20px; }
    .card.card-width-img-rt .card-con-rt {
      float: right;
      width: 272px;
      height: 298px; }
      .card.card-width-img-rt .card-con-rt img {
        width: 272px; }
  .card .con-post {
    padding: 0;
    margin-left: 0;
    font-size: 14px;
    color: #2a2a2a;
    border-top: 2px solid #e9e9e9;
    border-bottom: none; }
    .card .con-post .post-text {
      min-height: 154px;
      margin: 0 0 40px 0;
      padding-top: 40px; }
    .card .con-post .post-content {
      margin: 0 20px; }
    .card .con-post .post-featured-img {
      float: none;
      padding-right: 0;
      text-align: center;
      width: auto;
      margin-bottom: 30px;
      z-index: 10; }
    .card .con-post h3 {
      font-size: 20px;
      font-weight: bold;
      line-height: 26px;
      color: #2a2a2a;
      margin-top: 0;
      margin-bottom: 6px; }
    .card .con-post .post-text {
      margin-left: 0; }
    .card .con-post .action-link {
      margin-top: 20px; }
  .card.transparent .post-content {
    margin: 0; }
  .card.card-post-list {
    background-color: #ffffff;
    border: 2px solid #f4f4f4;
    border-top: none;
    border-radius: 0 0 10px 10px; }
    .card.card-post-list .card-con {
      padding-top: 1px; }
    .card.card-post-list .wave-sepetator {
      margin-top: 10px; }
    .card.card-post-list .con-post {
      border-bottom: 2px solid #e9e9e9;
      border-top: none; }
      .card.card-post-list .con-post.waved {
        border-top: none;
        background: url("https://mcusercontent.com/65bd5a1857b73643aad556093/images/9113670f-1b54-4413-891d-d5c42998b961.png") 50% 100% no-repeat;
        background-size: 309px auto;
        padding-bottom: 44px;
        border-bottom: none; }

.wave-sepetator {
  background: url("https://mcusercontent.com/65bd5a1857b73643aad556093/images/9113670f-1b54-4413-891d-d5c42998b961.png") 50% 50% no-repeat;
  background-size: 309px;
  height: 20px; }

.card-featured {
  background-color: #f4f4f4;
  border-radius: 10px 10px 0 0; }
  .card-featured.no-grad {
    background: transparent;
    border-top: 1px solid transparent; }
  .card-featured .logo-row-table {
    min-width: 100%;
    width: 100%;
    border-radius: 10px;
    border-radius: 10px 10px 0 0;
    background-color: #f4f4f4; }
    .card-featured .logo-row-table .align-right {
      text-align: right; }
  .card-featured .logo-wrap {
    margin: 40px 0 34px 20px; }
  .card-featured .logo-row-wrap {
    border: solid transparent;
    border-width: 1px 0; }
    .card-featured .logo-row-wrap .logo-row a {
      display: inline-block; }
    .card-featured .logo-row-wrap .logo-row.v-center {
      margin-top: 0;
      margin-top: 68px;
      height: 60px; }
    .card-featured .logo-row-wrap .logo-row.mt-sm {
      margin-top: 40px;
      height: 55px; }
    .card-featured .logo-row-wrap .logo-row img {
      display: inline-block;
      width: 144px; }
  .card-featured .title-text {
    margin-top: 10px;
    text-align: center; }
    .card-featured .title-text img {
      display: inline-block;
      width: 50%; }
  .card-featured .bg-ft-curve {
    height: 53px;
    margin-top: 40px;
    background: url("https://gallery.mailchimp.com/65bd5a1857b73643aad556093/images/ab546bd0-04af-46bd-a3b2-ab0273786d96.png") 0 100% no-repeat;
    background-size: 100%; }
  .card-featured.grad-blue {
    background: url("https://gallery.mailchimp.com/65bd5a1857b73643aad556093/images/00462ea5-d65b-4409-a906-be357acaa55d.jpg") repeat-x;
    background-size: auto 100%;
    background-image: linear-gradient(to bottom, #07d6a0, #0D61BF);
    border-radius: 0;
    border-top: 1px solid #07d6a0; }
  .card-featured.alt .logo-row img {
    width: auto;
    width: 240px; }
  .card-featured.alt .bg-ft-curve {
    height: 60px; }
  .card-featured .date-el {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    text-align: right;
    color: #2a2a2a;
    margin: 40px 20px 34px 0; }

.card.pad-b {
  padding-bottom: 20px; }

.featured-img {
  margin-top: 20px; }

.featured-img img {
  max-width: 100%;
  width: 100% !important; }

.featured-text {
  margin-top: 40px;
  font-size: 14px;
  line-height: 1.4; }

table.bg-theme-blue, table.card-with-banner.bg-theme-dark {
  background-color: #16679A;
  border-radius: 10px;
  margin: 0 20px; }

.card-center {
  margin: 0 20px; }

.card-with-banner {
  padding: 0; }
  .card-with-banner .featured-img {
    max-height: 190px;
    width: 100%; }
  .card-with-banner .fc-inner {
    margin: 0 20px 20px; }
  .card-with-banner .featured-content {
    margin-top: 30px;
    font-size: 14px;
    line-height: 24px;
    line-height: 23px;
    color: #2a2a2a; }
    .card-with-banner .featured-content.no-header-img {
      padding-top: 30px; }
    .card-with-banner .featured-content h3 {
      font-size: 20px;
      font-weight: bold;
      line-height: 26px;
      color: #2a2a2a;
      margin-bottom: 8px;
      margin-top: 0; }
  .card-with-banner .action-link {
    margin-top: 20px; }
  .card-with-banner.bg-theme-blue, .card-with-banner.bg-theme-dark {
    background-color: #16679A;
    color: #ffffff; }
    .card-with-banner.bg-theme-blue .featured-content, .card-with-banner.bg-theme-dark .featured-content {
      color: #ffffff; }
      .card-with-banner.bg-theme-blue .featured-content h3, .card-with-banner.bg-theme-dark .featured-content h3 {
        color: #ffffff; }
      .card-with-banner.bg-theme-blue .featured-content a, .card-with-banner.bg-theme-dark .featured-content a {
        color: #ffffff; }
  .card-with-banner.bg-theme-dark {
    background-color: #2a2a2a;
    color: #ffffff; }
  .card-with-banner.bg-theme-light {
    background-color: #ffffff;
    color: #2a2a2a;
    border-radius: 10px; }
    .card-with-banner.bg-theme-light .featured-content {
      color: #2a2a2a; }
      .card-with-banner.bg-theme-light .featured-content h3 {
        color: #2a2a2a; }
      .card-with-banner.bg-theme-light .featured-content a {
        color: #2a2a2a; }

.card-with-banner.bottom-padding {
  padding-bottom: 20px; }

.card-banner-header {
  position: relative;
  overflow: hidden;
  background-color: #f4f4f4; }

.card-banner-header.pad-b {
  padding-bottom: 20px; }

.card-banner-header .card-banner-bg {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0; }

.card-banner-header .card-banner-bg.pad-top {
  padding-top: 20px; }

.card-banner-header .card-banner-bg.slack-wrap {
  display: block;
  width: 230px;
  margin: 0 auto; }

.card-banner-header .card-banner-bg.pad-top img {
  max-width: 230px !important;
  margin: 0 auto; }

.slack-title {
  color: #2a2a2a;
  font-size: 20px;
  margin-bottom: 20px; }

.card-banner-header .card-banner-bg img {
  display: block;
  border-radius: 12px 12px 0 0;
  width: 100%; }

.card-banner-bg .bg {
  width: auto !important;
  min-height: 100%;
  min-width: 100%; }

.card-with-banner .banner-text {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  position: relative;
  padding-top: 5px;
  z-index: 10; }

.card-with-banner .banner-content {
  padding-top: 50px;
  position: relative; }

.card-banner-bg .banner-content .banner-ico {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 5;
  max-height: 48px; }

/* card-con */
.card-con a img {
  max-width: 100%;
  height: auto !important; }

.card-con .user-img {
  margin-top: 40px; }

.card-with-banner .card-con {
  font-size: 14px;
  line-height: 1.47;
  color: #2a2a2a; }

.card-with-banner .card-con.nopad-b {
  padding-bottom: 0; }

.card-with-banner .card-con.alt {
  padding-left: 18px;
  padding-right: 18px; }

.card-con .card-img {
  margin-top: 40px; }

.card-con.rounded {
  border-top: 5px solid #f4f4f4;
  border-radius: 10px; }

.card-con .img-curve img {
  margin-top: -30px; }

.card-con .featured-image.gray-bg {
  padding: 33px 20px 63px;
  background: #f4f4f4 url("https://gallery.mailchimp.com/65bd5a1857b73643aad556093/images/a5dba245-cbc1-4141-92e8-09fe78ab3036.png") 50% 100% no-repeat;
  background-size: 100%; }

.card-con .featured-image.rounded {
  border-radius: 5px; }

.card-con .featured-image .logo-dark {
  width: 168px; }

.card-con .featured-image.srm, .card-con .featured-image.mm {
  background: url("https://gallery.mailchimp.com/65bd5a1857b73643aad556093/images/3cae0c71-a97b-4b34-8d80-52811f11f876.png") 50% 0;
  background-size: auto 100%;
  height: 275px;
  color: #ffffff;
  text-align: center;
  border-radius: 10px 10px 0 0; }
  .card-con .featured-image.srm h2, .card-con .featured-image.mm h2 {
    font-weight: bold;
    font-size: 32px;
    margin: 0;
    padding-top: 104px; }
  .card-con .featured-image.srm h3, .card-con .featured-image.mm h3 {
    font-size: 20px;
    font-weight: normal;
    margin: 0; }

.card-con .featured-image.mm {
  background: url("https://gallery.mailchimp.com/65bd5a1857b73643aad556093/images/4c4e8251-674f-4b72-9f40-49a304b2f21c.png") 50% 0;
  background-size: auto 100%; }

.card-con .featured-image img {
  width: 100%;
  min-width: 100%; }

.card-with-banner .action {
  margin-top: 40px;
  text-align: center; }

.card-with-banner .action .btn {
  display: inline-block; }

/* grid-leaderboard-group */
.grid-leaderboard-group {
  overflow: hidden; }

.grid-leaderboard-group:last-child {
  padding-bottom: 20px;
  margin-bottom: -20px; }

/* .grid-leaderboard-group .leaderboard{
	padding-bottom: 0;
} */
.grid-leaderboard-group:first-child {
  border-top: none; }

/* mobile layout */
.grid-leaderboard {
  overflow: hidden; }

.card-con.padding-b {
  padding-bottom: 20px; }

.card-con .text-block {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafb;
  border: solid 1px #ebebeb;
  padding: 20px;
  line-height: 1.4;
  margin-top: 20px; }

.card-con .design-tip {
  background-color: #fff;
  border: none;
  line-height: 1.6;
  margin-top: 40px; }

.card-con .dt-banner {
  padding-right: 20px;
  padding-bottom: 20px;
  z-index: 10;
  position: relative; }

.card-con .dt-tip-text {
  display: block;
  margin-left: 0;
  min-height: 150px;
  color: #2a2a2a;
  line-height: 1.6;
  padding-left: 0;
  word-break: break-all; }

.member-thumb {
  display: flex;
  justify-content: center; }

.member-thumb .thumb-wrap {
  border: 5px solid #d8d8d8;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  box-sizing: content-box; }

.member-thumb .thumb-wrap img {
  width: 90px;
  height: 90px !important;
  border-radius: 50%;
  display: block; }

.member-thumb-caption {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  color: #2a2a2a;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 20px; }

table .tpl-repeatblock {
  outline: none; }

table.tpl-repeatblock {
  outline: none; }

.member-lead-con {
  font-size: 14px;
  line-height: 1.4;
  color: #2a2a2a; }

.date-value {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2a2a2a;
  padding-bottom: 20px; }

.grid-challenges {
  overflow: hidden; }

.grid-challenges .challenge-tile {
  width: 99%;
  display: inline-block;
  min-height: 162px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafb;
  border: solid 1px #ebebeb;
  padding: 20px;
  padding-left: 0;
  padding-right: 0;
  border-left: 2px solid #0681ff;
  margin-top: 20px;
  box-sizing: content-box; }

.grid-challenges .challenge-tile .inner {
  margin: 0 20px; }

.repeatable-content-group {
  padding-bottom: 40px; }

/* wider layout styles */
.grid-challenges .challenge-name {
  margin-top: 10px;
  height: 66px;
  overflow: hidden; }

.grid-challenges .challenge-prize {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.47;
  text-align: left;
  color: #2a2a2a; }

.grid-challenges .promo-text {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.47;
  text-align: left;
  color: #f22f24;
  margin-top: 10px; }

.queno {
  display: inline-block;
  font-size: 30px;
  font-weight: 300;
  color: #0681ff;
  height: 40px;
  vertical-align: top;
  float: left; }

.dt-tip-thumb {
  display: inline-block;
  height: 150px;
  vertical-align: top;
  float: left; }

.queno .tpl-content,
.queno span {
  font-size: 30px !important;
  font-weight: 300; }

.que {
  display: block;
  margin-left: 50px;
  color: #2a2a2a; }

.social-container {
  display: block; }

.social {
  width: 320px;
  display: block;
  margin: 0 auto;
  text-align: center; }

.social .social-link {
  margin: 0 10px;
  width: 32px;
  height: 32px;
  text-align: center; }

.social .social-link img {
  display: inline-block;
  width: auto; }

.dt-banner {
  width: 150px;
  height: 150px;
  overflow: hidden; }

.dt-banner img {
  max-width: 150px;
  max-height: 150px; }

.shining-start-post {
  padding-bottom: 40px; }

.sbs-wrap {
  overflow: hidden; }

.sbs-wrap .sbs-col {
  display: inline-block;
  width: 48%;
  vertical-align: top; }

.sbs-wrap .sbs-col.alt {
  width: 50%; }

.sbs-wrap .sbs-col h5 {
  font-weight: bold;
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #2a2a2a !important;
  margin: 0 0 20px 2px; }

.sbs-wrap .sbs-col .sbs-row {
  line-height: 28px;
  margin-left: 2px; }

.card-user .user-thumb img {
  width: 100%; }

.grid-leaderboard-group {
  border-top: 1px solid #ebebeb; }
  .grid-leaderboard-group:first-child {
    border-top: 0; }
  .grid-leaderboard-group .leaderboard {
    float: right;
    width: 49%;
    border-right: none;
    border-bottom: none; }
    .grid-leaderboard-group .leaderboard:first-child {
      width: 49%;
      float: left;
      border-right: 1px solid #ebebeb; }
    .grid-leaderboard-group .leaderboard:last-child .inner {
      margin-left: 8px; }
    .grid-leaderboard-group .leaderboard .leaderboard-table tr td:nth-child(1) {
      width: 27px; }

.grouped-cards .card {
  width: 48%;
  min-height: 506px; }
  .grouped-cards .card.card-rt {
    float: left; }
  .grouped-cards .card.card-lt {
    margin-left: 51%;
    width: 49%; }
  .grouped-cards .card .header-img {
    min-height: 190px; }
  .grouped-cards .card .card-con-main {
    margin-top: 10px;
    font-size: 14px;
    line-height: 23px;
    color: #2a2a2a;
    padding: 0 20px; }
    .grouped-cards .card .card-con-main h3 {
      font-size: 20px;
      font-weight: bold;
      line-height: 26px;
      color: #2a2a2a;
      margin-bottom: 8px;
      margin-top: 0; }
    .grouped-cards .card .card-con-main .action-link {
      margin-top: 18px;
      padding-bottom: 18px;
      font-size: 12px; }

.project-actions {
  margin-top: 58px; }
  .project-actions.pd-t-sm {
    margin-top: 10px; }
  .project-actions.pd-t-md {
    margin-top: 30px; }
  .project-actions .btn {
    margin: 17px 10px; }
  .project-actions .action-btns {
    margin-top: 25px;
    text-align: center; }
  .project-actions .offer {
    margin: 0 20px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px; }
    .project-actions .offer a {
      text-decoration: underline !important; }

.social-connects {
  text-align: center;
  margin: 20px 0 20px 0; }
  .social-connects.pd-t-n {
    padding-top: 0; }
  .social-connects a {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    vertical-align: top;
    background: #fff;
    display: inline-block;
    margin: 0 5px; }
    .social-connects a img {
      width: 30px !important;
      height: 30px !important; }

.card-t-bg {
  background-color: #f4f4f4;
  background-size: 100% 200%;
  border-left: 2px solid #f4f4f4;
  border-right: 2px solid #f4f4f4;
  min-height: 48px;
  height: 48px;
  max-height: 48px; }
  .card-t-bg img {
    height: 48px !important;
    min-height: 48px !important;
    width: 100%; }

.mcnTextContentContainer.gray {
  background-color: #f4f4f4;
  border-radius: 0 0 10px 10px; }

/*# sourceMappingURL=map/weekly-design-dev-ds.css.map */
